<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>VMPlayer HD Lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VMPlayer HD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VMPlayer Lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VMPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6213069E14C8545E00889A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6213071214C8546900889A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6213078714C854E900889A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>626393EE1369C78B009F9477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629696331369B93400362427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62D833E11526229E0017C39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
